.quiz{
    background-color: rgb(255, 255, 255);
    flex: 1 1 70%;
    padding: .5rem;

    
}
.quiz__items{
    display: grid;
    grid-template-columns:repeat(auto-fit, 350px);
    justify-content: center;
    column-gap:  .5rem;
}
