.searc-and-filter{
    background-color: rgb(203, 250, 255);
    padding: 1rem 0 ;

}
.searc-and-filter__w{
    padding: 1rem;
    display: flex;
    justify-content: center;
    input{
        transition: 0.3s;
        border: none;
        color: rgba(248, 255, 106, 0.293);
        padding: .5rem;
        background-color: rgb(58, 72, 74);
        border-radius: 5px;
    }
    input:focus{

        background-color: rgb(24, 24, 24);
        color: rgb(120, 223, 235);
    }
}