@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

.App {
  position: relative;
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  
}
.wrapper{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

}



